.color {
  color: rgba(44, 63, 76, 0.808);
  color: rgba(208, 65, 52, 0.815);
  color: rgba(39, 42, 43, 0.842);
  color: #c1264d2d;
  color: #272a2bd7;
  color: #c1264daf;
  color: #f4f4f4d5;
  color: '#1C1D0D';
  color: '#248b';
  color: '#248b';
  color: '#e19530';
  color: '#e19530';
  color: #835808;
}